<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Exercise1AmazonSuite">
  <test name="Exercise1AmazonTest">
    <classes>
      <class name="com.amazon.pom.testscenarios.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
